.contentWrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__leftMss {
        display: flex;
        justify-content: flex-end;
    }

    &__rightMss {
        display: flex;
        justify-content: flex-start;
    }
}
