.chatAppWrapper {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 60vw;
    background-color: whitesmoke;
    border-radius: 10px;

    @media (max-width: 800px) {
        width: 90vw;
    }

    &__chatsWrapper {
        display: flex;
    }

    &__middleSection {
        display: flex;
        flex-direction: column;
    }

    &__headerWrapper {
        height: 5rem;
        background-color: #0066b2;
        border-radius: 10px 10px 0 0;
    }

    &__contentWrapper {
        min-height: calc(100% - 10rem);
        overflow-y: auto;
    }

    &__intputWrapper {
        height: 5rem;
        background-color: #1975b9;
    }
}
