.chatAppWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    width: 60vw;
    background-color: whitesmoke;
    border-radius: 10px;

    @media (max-width: 800px) {
        width: 90vw;
    }

    &__chatsWrapper {
        display: flex;
    }

    &__middleSection {
        display: flex;
        flex-direction: column;
        width: 75%;
    }

    &__headerWrapper {
        height: 5rem;
        background-color: #0066b2;
    }

    &__contentWrapper {
        min-height: calc(100% - 10rem);
        overflow-y: auto;
        background-color: #c4c4c4;
    }

    &__inputWrapper {
        height: 5rem;
        background-color: whitesmoke;
    }
}
