.messageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212d33;
  color: #fafafa;
  padding: 0.5rem;
  width: auto;
  max-width: 75%;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (max-width: 800px) {
    max-width: 90%;
  }

  &__senderTitle {
    font-weight: 700;
    margin-right: auto;
    margin-left: 0;
  }

  &__messageBody {
    width: 100%;
    margin-left: 0;
  }
}
