.chatsOverviewWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__chats {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__selectedChat {
        background-color: black;
        color: white;
    }
}
