.inputWrapper {
  display: flex;
  align-items: flex-end;
  justify-items: center;
  height: 100%;

  textarea {
    padding: 0.9rem;
    font-size: 1rem;
  }

  &__sendButton {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
