.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;

  textarea {
    height: 100%;
    width: 70%;
    padding-top: 1.5rem;
    padding: 1rem;
    font-size: 1rem;
  }

  &__sendButton {
    height: 100%;
    width: 30%;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
