.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
    height: 100%;

    .userName {
        font-size: large;
        margin-right: 2rem;
        font-weight: 500;
        color: whitesmoke;
    }
}
