// Normalize
@import-normalize;

// Variables 
@import './scss/variables/typography.module.scss';

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

// Base
html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $base-line-height;
  background-color: #555555;
}
